<label>Server Name</label>
<!-- <input 
    type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)"
> -->
<input 
    type="text" 
    class="form-control"
    [(ngModel)]="serverName"
>
<p>{{ serverName }}</p>
<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">
        Add Server
</button>
<p>{{ serverCreationStatus }}</p>
<!-- <p [innerText]="allowNewServer"></p> -->

<label>
    User Name
</label>
<input
    type="text"
    class="form-control"
    [(ngModel)]="userName"
>
<button
    class="btn btn-primary"
    (click)="resetUserName()"
    [disabled]="userName === '' ">
    Reset User Name
</button>
<p>{{ userName }}</p>

<app-server></app-server>
<app-server></app-server>
